# Dependensi
node_modules/
frontend/node_modules/
backend/node_modules/

# Environment Variables (Sangat Penting!)
.env
.env.local
backend/.env

# Build files
dist/
frontend/dist/

# OS files
.DS_Store
Thumbs.db